/* to convert from colorschemedesigner css to variables, copy the CSS given and run this:
  :.!xclip -o | sed -re 's/ .*:/:/; /^ *$/d' | tr . '$' | sed -e 's/ }/;/'
 */
/* line 29, ../sass/_palette.scss */
.primary-1, .article-splash {
  background-color: #3ea024;
}

/* line 30, ../sass/_palette.scss */
.primary-2, .article .bullet-list, .article pre, .article div.plain-text-link a {
  background-color: #417b32;
}

/* line 31, ../sass/_palette.scss */
.primary-3, html body {
  background-color: #216c0d;
}

/* line 32, ../sass/_palette.scss */
.primary-4 {
  background-color: #71d057;
}

/* line 33, ../sass/_palette.scss */
.primary-5 {
  background-color: #8bd078;
}

/* line 34, ../sass/_palette.scss */
.secondary-a-1, header {
  background-color: #1b7969;
}

/* line 35, ../sass/_palette.scss */
.secondary-a-2 {
  background-color: #255d53;
}

/* line 36, ../sass/_palette.scss */
.secondary-a-3, html, .table-of-contents {
  background-color: #0a5145;
}

/* line 37, ../sass/_palette.scss */
.secondary-a-4, .article pre.code-header {
  background-color: #4fbdaa;
}

/* line 38, ../sass/_palette.scss */
.secondary-a-5 {
  background-color: #6dbdaf;
}

/* line 39, ../sass/_palette.scss */
.secondary-b-1 {
  background-color: #be662a;
}

/* line 40, ../sass/_palette.scss */
.secondary-b-2, .featurelet .inner {
  background-color: #925e3b;
}

/* line 41, ../sass/_palette.scss */
.secondary-b-3, .featurelet .inner:hover {
  background-color: #803d0f;
}

/* line 42, ../sass/_palette.scss */
.secondary-b-4 {
  background-color: #df925e;
}

/* line 43, ../sass/_palette.scss */
.secondary-b-5 {
  background-color: #dfa781;
}

/* line 44, ../sass/_palette.scss */
.complement-1 {
  background-color: #b62939;
}

/* line 45, ../sass/_palette.scss */
.complement-2 {
  background-color: #8c3842;
}

/* line 46, ../sass/_palette.scss */
.complement-3 {
  background-color: #7b0f1b;
}

/* line 47, ../sass/_palette.scss */
.complement-4 {
  background-color: #db5c6b;
}

/* line 48, ../sass/_palette.scss */
.complement-5 {
  background-color: #db7f89;
}

/* line 7, ../sass/style.scss */
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* body */
}
/* line 13, ../sass/style.scss */
html body {
  box-shadow: 0px -5px 20px 5px #417b32;
  color: #FEE;
  margin-top: 0;
  max-width: 1000px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: "Gudea", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
@media (max-width: 400px) {
  /* line 13, ../sass/style.scss */
  html body {
    /* iphones and other small screens */
    font-size: 10pt;
  }
}

/* html */
/* line 33, ../sass/style.scss */
.readmargin {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 38, ../sass/style.scss */
.splash {
  border-bottom: 2px solid black;
  overflow: auto;
  width: 100%;
  background-color: #3ea024 !important;
}
/* line 44, ../sass/style.scss */
.splash .inner {
  overflow: auto;
  padding: 40px;
}
@media (max-width: 600px) {
  /* line 44, ../sass/style.scss */
  .splash .inner {
    background-color: rgba(62, 123, 50, 0.7);
  }
}
@media (max-width: 400px) {
  /* line 44, ../sass/style.scss */
  .splash .inner {
    padding: 5px !important;
  }
}
/* line 55, ../sass/style.scss */
.splash h1 {
  text-shadow: black 1px 1px 8px;
  margin: 0px;
  font-size: 300%;
  line-height: 1;
  letter-spacing: -1px;
}
/* line 63, ../sass/style.scss */
.splash p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

/* splash */
/* line 71, ../sass/style.scss */
.featurelet {
  min-width: 300px;
  float: left;
  margin-top: 10px !important;
  color: white;
  width: 31.624%;
  margin-left: 1.282%;
}
/* line 80, ../sass/style.scss */
.featurelet .inner {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a46a42), color-stop(100%, #6e472c));
  background-image: -webkit-linear-gradient(top, #a46a42 0%, #6e472c 100%);
  background-image: -moz-linear-gradient(top, #a46a42 0%, #6e472c 100%);
  background-image: -o-linear-gradient(top, #a46a42 0%, #6e472c 100%);
  background-image: -ms-linear-gradient(top, #a46a42 0%, #6e472c 100%);
  background-image: linear-gradient(top, #a46a42 0%, #6e472c 100%);
  width: 100%;
  height: 100%;
  border: 2px solid black !important;
  border-radius: 15px !important;
  height: 10em;
  padding-bottom: 1.282%;
  overflow: hidden;
  -moz-transition-property: box-shadow, border, background;
  -webkit-transition-property: box-shadow, border, background;
  -o-transition-property: box-shadow, border, background;
  transition-property: box-shadow, border, background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 92, ../sass/style.scss */
.featurelet .inner h1, .featurelet .inner > h2, .featurelet .inner > h3 {
  text-shadow: black 2px 2px 3px;
  margin: 0;
}
/* line 97, ../sass/style.scss */
.featurelet .inner > p {
  text-shadow: black 1px 1px 2px;
}
/* line 101, ../sass/style.scss */
.featurelet .inner a {
  color: inherit;
  text-decoration: none;
}
/* line 106, ../sass/style.scss */
.featurelet .inner > * {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 111, ../sass/style.scss */
.featurelet .inner > *:first-child {
  padding-top: 10px;
}
/* line 115, ../sass/style.scss */
.featurelet .inner > *:last-child {
  padding-bottom: 15px;
}

/* .featurelet */
/* line 122, ../sass/style.scss */
.featurelet .inner:hover {
  box-shadow: 0 0 15px 3px #db7f89;
  border: 2px solid #dfa781 !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a46a42), color-stop(100%, #492f1e));
  background-image: -webkit-linear-gradient(top, #a46a42 0%, #492f1e 100%);
  background-image: -moz-linear-gradient(top, #a46a42 0%, #492f1e 100%);
  background-image: -o-linear-gradient(top, #a46a42 0%, #492f1e 100%);
  background-image: -ms-linear-gradient(top, #a46a42 0%, #492f1e 100%);
  background-image: linear-gradient(top, #a46a42 0%, #492f1e 100%);
  cursor: pointer;
  background-position: 0% 5%;
}

/* line 131, ../sass/style.scss */
.features {
  overflow: hidden;
  padding-bottom: 1em;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4b8d39), color-stop(100%, #2e5723));
  background-image: -webkit-linear-gradient(top, #4b8d39 0%, #2e5723 100%);
  background-image: -moz-linear-gradient(top, #4b8d39 0%, #2e5723 100%);
  background-image: -o-linear-gradient(top, #4b8d39 0%, #2e5723 100%);
  background-image: -ms-linear-gradient(top, #4b8d39 0%, #2e5723 100%);
  background-image: linear-gradient(top, #4b8d39 0%, #2e5723 100%);
  border-bottom: 2px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 141, ../sass/style.scss */
.details {
  overflow: hidden;
  padding-bottom: 1em;
  width: 100%;
}

/* line 147, ../sass/style.scss */
.details .info {
  min-width: 300px;
  margin-left: 1.282%;
  width: 48.077%;
  float: left;
  margin-top: 10px;
  color: white;
}
/* line 158, ../sass/style.scss */
.details .info > *:last-child {
  border-left: 0px;
}
/* line 162, ../sass/style.scss */
.details .info .inner {
  width: 100%;
}

/* line 167, ../sass/style.scss */
header {
  box-shadow: 0px -5px 40px 15px #4fbdaa;
  border-bottom: 2px solid black;
  padding: 1em;
}
/* line 172, ../sass/style.scss */
header .logo a {
  font-family: 'Noticia Text', serif;
  font-size: 2em;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: #A62F00 1px 1px 3px;
  width: 100%;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 181, ../sass/style.scss */
header .logo a:hover {
  color: #FFAD40;
  text-decoration: none;
}
/* line 188, ../sass/style.scss */
header .edit-this-page {
  text-align: right;
}
/* line 192, ../sass/style.scss */
header .search {
  float: right;
}
/* line 195, ../sass/style.scss */
header .search input[type="submit"] {
  display: none;
}
/* line 200, ../sass/style.scss */
header .float-right {
  float: right;
}

/* line 206, ../sass/style.scss */
a {
  color: #f1cfd2;
  font-weight: bold;
  text-decoration: none;
}

/* line 212, ../sass/style.scss */
a:hover {
  color: #BDF;
  text-decoration: underline;
}

/* line 217, ../sass/style.scss */
h1, h2, h3 {
  font-family: "Gudea", sans-serif !important;
}

/* line 221, ../sass/style.scss */
#content {
  padding-bottom: 1em;
}

/* line 225, ../sass/style.scss */
.article-splash {
  border-bottom: 2px solid black;
}
/* line 229, ../sass/style.scss */
.article-splash .inner {
  padding: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
}
@media (max-width: 400px) {
  /* line 229, ../sass/style.scss */
  .article-splash .inner {
    padding: 5px;
  }
}
/* line 238, ../sass/style.scss */
.article-splash h1 {
  text-shadow: black 1px 1px 8px;
  margin: 0px;
  font-size: 300%;
  line-height: 1;
  letter-spacing: -1px;
  display: inline;
}

/* article-splash */
/* line 248, ../sass/style.scss */
.article-splash ~ * {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 253, ../sass/style.scss */
.table-of-contents {
  border: 1px solid black;
  min-width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px #71d057;
  float: right;
  margin: 1.282%;
  padding: 1em;
  width: 30%;
}
@media (max-width: 400px) {
  /* line 253, ../sass/style.scss */
  .table-of-contents {
    min-width: 260px;
  }
}
/* line 267, ../sass/style.scss */
.table-of-contents ul, .table-of-contents ol {
  margin: 0;
  padding-left: 1em;
}
/* line 273, ../sass/style.scss */
.table-of-contents h1 {
  font-size: 130%;
  padding: 0;
  margin: 0;
}
/* line 279, ../sass/style.scss */
.table-of-contents .topic-h1 {
  margin-left: 1em;
}
/* line 280, ../sass/style.scss */
.table-of-contents .topic-h2 {
  margin-left: 2em;
}
/* line 281, ../sass/style.scss */
.table-of-contents .topic-h3 {
  margin-left: 3em;
}

/* .table-of-contents */
/* line 284, ../sass/style.scss */
.article {
  /* The 'view plain text' boxes */
}
/* line 285, ../sass/style.scss */
.article .bullet-list {
  margin: 0;
  margin-top: 1.5em;
  padding: 1.282%;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 7px #417b32;
  max-width: 50%;
  min-width: 300px;
  opacity: 0.9;
}
@media (max-width: 400px) {
  /* line 285, ../sass/style.scss */
  .article .bullet-list {
    min-width: 260px;
  }
}
/* line 301, ../sass/style.scss */
.article .bullet-list li.bullet:last {
  margin-bottom: 0em;
}
/* line 305, ../sass/style.scss */
.article .bullet-list li.bullet {
  font-size: 110%;
  margin: 0;
  list-style-type: none;
  padding-top: 1px;
  padding-bottom: 1px;
}
/* line 313, ../sass/style.scss */
.article .bullet-list .bullet-title {
  font-weight: bold;
  padding-right: 5px;
}
/* line 319, ../sass/style.scss */
.article pre.code-header {
  margin-top: 0px;
  /* for 'view plain text' link */
  margin-bottom: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 2px;
  padding-left: 10px;
  overflow: hidden;
  color: black;
}
/* line 330, ../sass/style.scss */
.article pre.code-header * {
  color: black;
}
/* line 335, ../sass/style.scss */
.article pre.code {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
}
/* line 342, ../sass/style.scss */
.article pre.wrap {
  white-space: pre-wrap;
  overflow: auto;
}
/* line 347, ../sass/style.scss */
.article .has-view-text-link {
  margin-top: 0;
}
/* line 351, ../sass/style.scss */
.article pre {
  max-width: 100%;
  border: 1px solid #8bd078;
  color: white;
  overflow-x: auto;
  margin-left: 0px;
  margin-right: 0px;
  border-top-right-radius: 0px;
  overflow-x: auto;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 8px;
  padding: 10px;
}
/* line 368, ../sass/style.scss */
.article div.plain-text-link {
  text-align: right;
  width: 100%;
  margin-bottom: -1px;
  padding: 0px;
  /* The 'view plain text' link */
}
/* line 377, ../sass/style.scss */
.article div.plain-text-link a {
  padding-left: 1em;
  padding-right: 1em;
  border-left: 1px solid #8bd078;
  border-right: 1px solid #8bd078;
  border-top: 1px solid #8bd078;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 400px) {
  /* line 377, ../sass/style.scss */
  .article div.plain-text-link a {
    margin-right: 1em;
    /* match <pre> tag margin */
  }
}
/* line 394, ../sass/style.scss */
.article a {
  color: inherit;
  text-decoration: underline;
}

/* .article */
