$boxminwidth: 300px;
$margin: 1.282%;

/* to convert from colorschemedesigner css to variables, copy the CSS given and run this:
  :.!xclip -o | sed -re 's/ .*:/:/; /^ *$/d' | tr . '$' | sed -e 's/ }/;/'
 */
// From http://colorschemedesigner.com/#3341Tw0w0w0w0
$primary-1: #3EA024;
$primary-2: #417B32;
$primary-3: #216C0D;
$primary-4: #71D057;
$primary-5: #8BD078;
$secondary-a-1: #1B7969;
$secondary-a-2: #255D53;
$secondary-a-3: #0A5145;
$secondary-a-4: #4FBDAA;
$secondary-a-5: #6DBDAF;
$secondary-b-1: #BE662A;
$secondary-b-2: #925E3B;
$secondary-b-3: #803D0F;
$secondary-b-4: #DF925E;
$secondary-b-5: #DFA781;
$complement-1: #B62939;
$complement-2: #8C3842;
$complement-3: #7B0F1B;
$complement-4: #DB5C6B;
$complement-5: #DB7F89;

.primary-1 { background-color: $primary-1 }
.primary-2 { background-color: $primary-2 }
.primary-3 { background-color: $primary-3 }
.primary-4 { background-color: $primary-4 }
.primary-5 { background-color: $primary-5 }
.secondary-a-1 { background-color: $secondary-a_1 }
.secondary-a-2 { background-color: $secondary-a_2 }
.secondary-a-3 { background-color: $secondary-a_3 }
.secondary-a-4 { background-color: $secondary-a_4 }
.secondary-a-5 { background-color: $secondary-a_5 }
.secondary-b-1 { background-color: $secondary-b_1 }
.secondary-b-2 { background-color: $secondary-b_2 }
.secondary-b-3 { background-color: $secondary-b_3 }
.secondary-b-4 { background-color: $secondary-b_4 }
.secondary-b-5 { background-color: $secondary-b_5 }
.complement-1 { background-color: $complement-1 }
.complement-2 { background-color: $complement-2 }
.complement-3 { background-color: $complement-3 }
.complement-4 { background-color: $complement-4 }
.complement-5 { background-color: $complement-5 }
